In [2]:
import pandas as pd
df = pd.read_csv('zomato_restaurants_in_India.csv')

In [6]:
df2 = pd.DataFrame(columns = ['res_id','name','establishment','url','address','city','city_id','locality','latitude','longitude','zipcode','country_id','locality_verbose','cuisines','timings','average_cost_for_two','price_range','currency','highlights','aggregate_rating','rating_text','votes','photo_count','opentable_support','delivery','takeaway'])
for i in range(len(df.index)):
    if df.loc[i, 'city'] == 'Jaipur' or df.loc[i, 'city'] == 'Jodhpur' or df.loc[i, 'city'] == 'Udaipur':
        df2.loc[len(df2.index)] = df.loc[i]

print(len(df2.index))

8758

In [10]:
df2 = df2.drop(['city_id', 'locality', 'zipcode', 'country_id', 'locality_verbose', 'currency', 'votes', 'photo_count', 'opentable_support'], axis=1)

In [9]:
df2.to_csv('Restaurants.csv', index=False)